.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {  
  background-color: #282c34;
  min-height: 100vh;
  /* height: 100%; */
  width: 350px;
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-right: 10px;
  padding-left: 10px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

.App-header2 {
  background: linear-gradient(90deg, rgba(0,217,255,1) 0%, rgba(113,44,205,1) 100%);
  min-height: 100vh;
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cajaL{
  display: flex;
  flex-direction: row;
  
}

/* ---------------------------------------------------------------------------------------------------------------- */
.contact-area {
  width: 85%;
  height: 65vh;
  /* 100vh */
  /* 60% */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0%;
  margin-top: 50px;
  
}

.contact {
  position: relative;
  max-width: 400px;
  /* height: 150px;  */
  padding-bottom: 0%;
  overflow: hidden;
  margin: 0 auto;
  
  @media (min-width: 1024px) {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
  
}

.content {
  float: left;
  width: 100%;  
  padding: 15px 30px 50px 30px;
  position: relative;
  text-align: center;
  
  @media (min-width: 414px) {
    text-align: left;
  }
}

.imagenContact {  
  display: inline-block;
  width: 140px;
  border-radius: 50%;
  margin-right: 35px;
  
  @media (min-width: 414px) {
    float: left;
    width: 30%;
    margin-right: 10%;
  }
}

.letters {
  float: left;
  width: 100%;
  color: white;
  margin-top: 10px;
  
  @media (min-width: 414px) {
    width: 60%;
  }
}
  
.tituloContact {
    font-weight: 100;
    font-size: 22px;
    /* margin-bottom: 10px; */
  }
  
.parragoContact {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 160%;
  }


.areaContact {
    border-radius: 5px;
    float: left;
    width: 100%; 
    height: 200px;   
    background-color: #282c34;
  
  }



.imagenP{
  width: 100%;  
  padding: 15px 30px 50px 30px;
  position: relative;
  text-align: center;
  padding-top: 30px;

}





.parrafo{
padding-top: 8px;
padding-right: 10px;
  
}

.icon{
  width: 30px;
  height: 30px;
}
.fondoicon{
  background-color: black;
  /* text-align: center;
  align-items:center ;
  justify-content: center;   */
  padding-left:77px;  
  border-radius: 15px;
  margin-right: 15px;
}

.iconcarcel{
  height: 40vmin;
}

.iconregresar{
  height: 40vmin;
}